<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Interface</title>
    <!-- Link to the stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <div class="welcome-message">
        <h1>Welcome to ElJo Engine</h1>
        <p class="slogan">Revolutionizing Search with Speed and Precision</p>
        <div class="header">
            <ul>
                <li><a href="#search">Search</a></li>
                <li><a href="#knn">KNN Search</a></li>
                <li><a href="#upload">Upload and Compare</a></li>
                <li><a href="#custom">Custom Search</a></li>
                <li><a href="#fuzzy">Fuzzy Search</a></li>
                <li><a href="#elastic">Elasticsearch Search</a></li>
            </ul>
        </div>
    </div>
    
    <div class="container">
        <div id="search" class="algorithm">
            <h1>Search</h1>
            <form id="searchForm" class="form">
                <input type="text" name="word" placeholder="Enter a word" required>
                <input type="submit" value="Search">
            </form>

            <div id="normal-search" class="results-container"></div>

        </div>

        <h1>Fuzzy Search</h1>
        <form id="fuzzySearchForm" class="form">
            <input type="text" id="searchInput" placeholder="Type to search...">
            <div id="searchResults" class="results-container"></div>
        </form>

        <script>
            fuzzy = document.getElementById('searchInput')
            resultsDiv = document.getElementById('searchResults')
            fuzzy.addEventListener('input', function(e) {
                const query = e.target.value;
                if (query.length > 2) {
                    fetch(`/search_books?query=${encodeURIComponent(query)}`)
                        .then(response => response.json())
                        .then(data => {
                            let resultsHtml = data.map(hit => 
                                `<div>${hit.title}</div>`  // Adjust according to your data structure
                            ).join('');
                            document.getElementById('searchResults').innerHTML = resultsHtml;
                            resultsDiv.style.display = 'block';
                        })
                        .catch(err => console.error(err));
                } else {
                    document.getElementById('searchResults').innerHTML = ''; // Clear results if query is too short
                    resultsDiv.style.display = 'none';
                }
            });

            </script>
    </div>

        <div id="knn" class="algorithm">

            <h1>KNN Search</h1>
            <form id="knnForm" class="form">
                <input type="text" name="vector" placeholder="Enter a vector" required>
                <input type="submit" value="Search">
            </form>

            <div id="knn-results" class="results-container"></div>

        </div>  

        <div id="upload" class="algorithm">

            <h1>Upload and Compare</h1>
            <form id="uploadForm" class="form" enctype="multipart/form-data">
                <input type="file" name="file" required>
                <input type="submit" value="Upload">
            </form>

            <div id="upload-results" class="results-container"></div>
            <script>
                document.getElementById('uploadForm').addEventListener('submit', function(event) {
                    event.preventDefault();
                    const formData = new FormData(document.getElementById('uploadForm'));
                    
                    fetch('/upload_and_compare', {
                        method: 'POST',
                        body: formData
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log('Response data:', data);  // Log the data here
                        let resultsHtml = data.map(hit => 
                            `<div>${hit[1].title}</div>`  // Adjust according to your data structure
                        ).join('');
                        document.getElementById('upload-results').innerHTML = resultsHtml;
                        document.getElementById('upload-results').style.display = 'block';
                    })
                    .catch(err => {
                        console.error(err);
                        document.getElementById('upload-results').innerHTML = `<div>Error: ${err.message}</div>`;
                    });
                });
            </script>

        </div>

        <div id="custom" class="algorithm">
            <h1>Custom Search</h1>
            <form id="customSearchForm" class="form">
                <input type="text" name="input_str" placeholder="Enter your query" required>
                <input type="submit" value="Custom Search">
            </form>
            <div id="custom-results" class="results-container"></div>

        </div>

        <div id="searchSpecific" class="algorithm">
            <h1>Search Specific Index</h1>
            <form id="searchSpecificForm" class="form">
                <input type="text" id="specificSearchWord" placeholder="Enter a word" required>
                <input type="text" id="specificSearchIndex" placeholder="Enter index name" required>
                <input type="submit" value="Search">
            </form>
            <div id="specificSearchResults" class="results-container"></div>
        </div>
        <script>
            document.getElementById('searchSpecificForm').addEventListener('submit', function(event) {
                event.preventDefault();
                const word = document.getElementById('specificSearchWord').value;
                const index = document.getElementById('specificSearchIndex').value;
                const resultsDiv = document.getElementById('specificSearchResults')
                if (!word || !index) {
                    alert('Both word and index name are required.');
                    return;
                }

                fetch(`/search_specific?word=${encodeURIComponent(word)}&index=${encodeURIComponent(index)}`)
                    .then(response => response.json())
                    .then(data => {
                        let resultsHtml = data.map(hit => 
                            `<div>Document ID: ${hit._id}, Title: ${hit._source.title}</div>` // Adjust according to your data structure
                        ).join('');
                        document.getElementById('specificSearchResults').innerHTML = resultsHtml;
                        resultsDiv.style.display = 'block';

                    })
                    .catch(err => {
                        console.error(err);
                        document.getElementById('specificSearchResults').innerHTML = `<div>Error: ${err.message}</div>`;
                    });
            });
        </script>
        

        <div id="fuzzy" class="algorithm">
        <div id="elastic" class="algorithm">
                <h1>Elasticsearch Search</h1>
                <form id="esSearchForm" class="form">
                    <input type="text" name="index_name" placeholder="Enter index name" required>
                    
                    <select name="searchType" id="searchType">
                        <option value="tf_search">TF Search</option>
                        <option value="idf_search">IDF Search</option>
                        <option value="bm25_search">BM25 Search</option>
                    </select>
                    
                    <input type="submit" value="Create">
                </form>
                <div id="results" class="results-container"></div>
        </div>
        <script>
            // Function to handle form submission
            async function handleESSubmit(event) {
                event.preventDefault();
                const formData = new FormData(document.getElementById('esSearchForm'));
                const indexName = formData.get('index_name');
                const searchType = formData.get('searchType');
                const payload = { index_name: indexName };
                const response = await fetch('/' + searchType, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(payload)
                });
                if (!response.ok) {
                    console
                    throw new Error(`HTTP error! Status: ${response.message}`);
                }
                const resultData = await response.json();
        
                document.getElementById('results').innerText = JSON.stringify(resultData, null, 2);
            }
        
            // Attach event listener to the Elasticsearch search form
            document.getElementById('esSearchForm').addEventListener('submit', handleESSubmit);
        </script>        
            

            <script>
                document.getElementById('getPrevButton').addEventListener('click', function() {
                    fetch('/get_prev')
                        .then(response => response.json())
                        .then(data => {
                            let resultsHtml = data.map(item => 
                                `<div>${item}</div>` // Formatting each item
                            ).join('');
                            document.getElementById('prevResults').innerHTML = resultsHtml;
                        })
                        .catch(err => console.error(err));
                });
            </script>

<h1>XQuery Search</h1>
    <form id="xquerySearchForm">
        <label for="xquery">Enter XQuery:</label><br>
        <textarea id="xquery" name="xquery" rows="4" cols="50"></textarea><br>
        <input type="submit" value="Search">
    </form>
    <pre id="results_query" class="results-container"></pre>

    <script>
        // Function to handle form submission
        async function handleXQuerySubmit(event) {
            event.preventDefault();
            const xquery = document.getElementById('xquery').value;
            const resultsDiv = document.getElementById('results_query')
            const payload = { xquery: xquery };
            try {
                const response = await fetch('/xquery_search', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(payload)
                });
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                const resultData = await response.json();
                console.log(resultData)
                let titles = resultData.map(hit => hit._source.title).join('<br>');
                alert(titles)
                document.getElementById('results_query').innerHTML = titles
                resultsDiv.style.display = 'block';

            } catch (error) {
                document.getElementById('results_query').innerText = 'Error: ' + error.message;
            }
        }

        // Attach event listener to the XQuery search form
        document.getElementById('xquerySearchForm').addEventListener('submit', handleXQuerySubmit);
    </script>     
            
        <!-- ... [existing JavaScript and HTML content] ... -->

     
    </div>

    <!-- Link to the JavaScript file -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>